<%- include('../partials/header') %>
    <!-- icons -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Personal Stylesheet -->
    <link rel="stylesheet" href="/css/feed/style.css" />
    <% if (user==null) { %>
        <%- include('../partials/login') %>

            <% } else { %>

                <div class="Logo2">
                    <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200"
                            width="200" title="source: imgur.com" /></a>
                    <h1 class="feed">Assessments</h1>
                </div>
                <div class="box">
                    <!-- Middle Column -->
                    <div class="middle">
                        <% hunters.forEach(function(hunter) { %>

                            <!-- User Inputs -->

                            <% hunter.assessments.map(function(assessments, idx) { %>
                                <div class="hunters">
                                    <h4>
                                        <%= hunter.name %>
                                    </h4>
                                    <% if (hunter=="" ) { %>
                                        <img src="https://i.imgur.com/KB9fMRj.png" alt="Avatar" style="width:40px">
                                        <% } else { %>
                                            <img class="profilePic" src="<%=hunter.avatar%>" width="100" height="100"
                                                alt="That's You!">
                                            <% } %>
                                                </p>
                                                <p>
                                                    <strong>Question: </strong>
                                                    <%= assessments.questions %>
                                                </p>
                                                <p>
                                                    <strong>Answers: </strong>

                                                    <%= assessments.answers %>
                                                </p>
                                                <hr>
                                                <p>Post was created:<%=assessments.createdAt %>
                                                        <% if (hunter._id.equals(user && user._id)) { %>
                                                            <button type="button"><i class="fa fa-pencil-square-o"
                                                                    aria-hidden="true"></i>
                                                                <a href="/assessments/<%= assessments._id %>/edit"> Edit
                                                                    Comment</a></button>
                                                            <button type="button"><i class="fa fa-thumbs-o-up"
                                                                    aria-hidden="true"></i>Like</button>
                                                            <form
                                                                action="/assessments/<%= assessments._id %>?_method=DELETE"
                                                                class="delete-form" method="POST">
                                                                <button type="submit">🗑Delete Post</button>
                                                            </form>
                                                            <% } %>
                                </div>
                                <% }) %>

                                    <!-- Add Dynamic UI form below this line -->
                                    <% if (hunter._id.equals(user && user._id)) { %>
                                        <div class="">
                                            <form action="/assessments" method="POST">
                                                <h3>Create Assessment Question</h3>
                                                <label for="questions">Questions</label>
                                                <input type="text" name="questions" placeholder="Question">
                                                <br>
                                                <label for="answers">Answers</label>
                                                <input type="text" name="answers" placeholder="Answers">
                                                <br>
                                                <button type="submit"><i class="fa fa-pencil-square-o"
                                                        aria-hidden="true"></i> Create Q&A</button>
                                            </form>
                                        </div>
                                        <% } %>
                                            <% }) %>
                    </div>
                    <!-- Right Column -->
                    <div class="right">
                        <h2>Top Rated Q &A</h2>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Q&A1</h5>
                                <p class="card-text">
                                </p>

                            </div>
                        </div>

                    </div>
                </div>

                <% } %>

                    <%- include('../partials/footer') %>