<%- include('../partials/header') %>
    <!-- icons -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <!-- Personal Stylesheet -->
    <link rel="stylesheet" href="/css/feed/style.css" />
    <% if (user==null) { %>
        <%- include('../partials/login') %>

            <% } else { %>

                <div class="Logo2">
                    <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200"
                            width="200" title="source: imgur.com" /></a>
                    <h1 class="feed">Assessments</h1>
                </div>
                <div class="box">
                    <!-- Left Column -->

                    <div class="left">
                        <div class="news">
                            <h2>Today's News</h2>

                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's
                                        content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                                <hr>
                                <br>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's
                                        content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                                <hr>
                                <br>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's
                                        content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                                <hr>
                                <br>
                            </div>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's
                                        content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                                <hr>
                                <br>

                            </div>
                            <div class="card" style="width: 18rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up
                                        the
                                        bulk of the card's
                                        content.</p>
                                    <a href="#" class="card-link">Card link</a>
                                    <a href="#" class="card-link">Another link</a>
                                </div>
                                <hr>
                                <br>
                            </div>
                        </div>
                    </div>

                    <!-- Middle Column -->
                    <div class="middle">
                        <% hunters.forEach(function(hunter) { %>

                            <!-- User Inputs -->

                            <% hunter.comments.map(function(comment, idx) { %>
                                <div class="hunters">
                                    <h4>
                                        <%= hunter.name %>
                                    </h4>
                                    <% if (hunter=="" ) { %>
                                        <img src="https://i.imgur.com/KB9fMRj.png" alt="Avatar" style="width:40px">
                                        <% } else { %>
                                            <img class="profilePic" src="<%=hunter.avatar%>" width="100" height="100"
                                                alt="That's You!">
                                            <% } %>
                                                <p>Post was created:<%=comment.createdAt %>
                                                </p>
                                                <p>Post was Updated<%=comment.updatedAt%>
                                                </p>
                                                <hr>
                                                <p>
                                                    <%= comment.text %>
                                                </p>
                                                <% if (hunter._id.equals(user && user._id)) { %>
                                                    <button type="button"><i class="fa fa-pencil-square-o"
                                                            aria-hidden="true"></i>
                                                        <a href="/feed/<%= comment._id %>/edit"> Edit
                                                            Comment</a></button>
                                                    <button type="button"><i class="fa fa-thumbs-o-up"
                                                            aria-hidden="true"></i>Like</button>
                                                    <form action="/feed/<%= comment._id %>?_method=DELETE"
                                                        class="delete-form" method="POST">
                                                        <button type="submit">🗑Delete Post</button>
                                                    </form>
                                                    <% } %>
                                </div>
                                <% }) %>

                                    <!-- Add Dynamic UI form below this line -->
                                    <% if (hunter._id.equals(user && user._id)) { %>
                                        <div class="post container hunters">
                                            <form action="/feed" method="POST">
                                                <h3>Create A Post</h3>
                                                <input type="text" name="text" placeholder="Project Week Is Insane">
                                                <button type="submit"><i class="fa fa-pencil-square-o"
                                                        aria-hidden="true"></i>Create Post</button>
                                            </form>
                                        </div>
                                        <% } %>
                                            <% }) %>
                    </div>
                    <!-- Right Column -->
                    <div class="right">
                        <h2>Where to get started!</h2>
                        <h3>Code Training</h3>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Free Code Camp</h5>
                                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                <p class="card-text"><b> Mission</b> to help people learn to code for free. They
                                    accomplish
                                    this by
                                    creating thousands of videos, articles, and interactive coding lessons - all freely
                                    available to
                                    the public. We also have thousands of freeCodeCamp study groups around the world.
                                </p>
                                <a href="https://www.freecodecamp.org/learn/" class="card-link">Click here </a><span>to
                                    visit site</span>
                            </div>
                            <hr>
                            <br>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Udemy</h5>
                                <p class="card-text">Udemy helps organizations of all kinds prepare for the
                                    ever-evolving
                                    future of work.
                                    Our curated collection of top-rated business and technical courses gives companies,
                                    governments, and
                                    nonprofits the power to develop in-house expertise and satisfy employees’ hunger for
                                    learning and
                                    development.</p>
                                <a href="https://www.udemy.com/" class="card-link">Click here </a><span>to visit
                                    site</span>
                            </div>
                            <hr>
                            <br>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Leet Code</h5>
                                <p class="card-text">A site where mostly software engineers–practice their coding
                                    skills.
                                    There are 800+
                                    questions (and growing), each with multiple solutions. Questions are ranked by level
                                    of
                                    difficulty:
                                    easy, medium, and hard. Similar websites include HackerRank, Topcoder, InterviewBit,
                                    among others.</p>
                                <a href="https://leetcode.com/explore/learn" class="card-link">Click here </a><span>to
                                    visit
                                    site</span>
                            </div>
                            <hr>
                            <br>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Top Coder</h5>
                                <p class="card-text">We’re visionaries, tech geeks, designers, developers, and data
                                    nerds.
                                    Team Topcoder
                                    is on a mission to revolutionize how businesses access and execute with top digital
                                    talent.</p>
                                <a href="https://www.topcoder.com" class="card-link">Click here </a><span>to visit
                                    site</span>
                            </div>
                            <hr>
                            <br>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">The Odin Project</h5>
                                <p class="card-text">The Odin Project is a project is designed to fill in the gap for
                                    people
                                    who are
                                    trying to hack it on their own but still want a high quality education. The Odin
                                    Project
                                    curriculum is full of
                                    projects that will help you build a strong portfolio of work on Github to fill out
                                    your
                                    resume.</p>
                                <a href="https://www.theodinproject.com" class="card-link">Click here </a><span>to visit
                                    site</span>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">Hacker Rank</h5>
                                <p class="card-text">HackerRank is a technology hiring platform that is the standard for
                                    assessing
                                    developer skills for over 2,000+ companies around the world. By enabling tech
                                    recruiters
                                    and hiring managers
                                    to objectively evaluate talent at every stage of the recruiting process, HackerRank
                                    helps companies
                                    hire skilled developers and innovate faster.</p>
                                <a href="https://www.theodinproject.com" class="card-link">Click here </a><span>to visit
                                    site</span>
                            </div>
                        </div>
                    </div>
                </div>

                <% } %>

                    <%- include('../partials/footer') %>