<!DOCTYPE html>
<html>
<title>Career Connect</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/jobs.css">
<!-- icons -->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
 <!-- Online Web Fonts for Peace Sans -->
 <link href="//db.onlinewebfonts.com/c/2a32094b74bdd4607c616294a8a90740?family=Peace+Sans" rel="stylesheet" type="text/css"/>
<body>
<!-- header -->
<header>
  <ul>
    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="/feed"><i class="fa fa-globe" aria-hidden="true"></i>Networking</a></li>
    <li><a href="/user"><i class="fa fa-user" aria-hidden="true"></i>Profile</a></li>
    <li><a href="/jobs"><i class="fa fa-briefcase" aria-hidden="true"></i>Careers</a></li>
    <li><a href="/auth/google"><i class="fa fa-sign-in" aria-hidden="true"></i>Log In with Google</a></li>
    <li><a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
    <a href="#" title="My Account">
      <img class="headerImg" src="https://i.imgur.com/KB9fMRj.png" style="height:23px;width:23px" alt="Avatar">
    </a>
  </ul>
</header>

<!-- Header End -->


<div class="Logo2">
  <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200" width="200" title="source: imgur.com" /></a>  
  <% if (userData == "") { %>
  <h1 class="tech" >Welcome to Career Connect, lets get started!</h1>
  <% } else { %>
    <h1 class="tech" >Take a look around</h1>
  <% } %>
</div>
<div class="conatiner">

<% if (userData == "") { %>
<div class="top">
  <div class="first">
    <h2 >Search Jobs</h2>
  </div>
  <div class="third">
    <form action="/jobs" method="POST">
      <input class="input" type="text" name="search" placeholder="What                Job title, or company..">
      <button class="btn" type="submit">Search</button>
    </div> 
    </form>

    <div class="third">
    <form action="/jobs" method="POST">
      <input class="input" type="text" name="search" placeholder="Where                City or remote..">
      <button class="btn" type="submit">Search</button>
    </div>
    </form>
<br>
</div>

<div>
    <div class="changer">
    <div id="overlay"></div>
    <video id="introVideo" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://i.imgur.com/SWV63rV.mp4'" type="video/mp4">
    </video>
    </div>
</div>
<% } %>

  <div class="middle">
<hr>
    <% if (userData) { %>
              <% userData.forEach(function(job) { %>
                <div class="results">
                  <h2><%= job.title %></h2>
                  <img src="<%= job.company_logo %>" class="img-circle" width="80">
                  <h3><%= job.type %></h3>
                  <h3><%= job.location %></h3>
                  <h4>Date: <%= job.created_at %></h4>
                  <h4>Job Description:</h4>

                  <h4><%- job.description %></h4>
                  <a href="<%= job.url %>" target="_blank"
                  class="list-group-item">Company Website: <%=job.company%> 
                  </a> 
                  <br>
                  
                </div>
                
                    <% })%>
               
    <% }%>
    <%if (userData == null) { %>

      <h1>
        Attetmpt New Search
      </h1>
   <% } %>
      </div>
</div>
<!-- Footer -->

<footer >
  <div>
    <a href="https://imgur.com/Mc6BdV0">
    <img src="https://i.imgur.com/Mc6BdV0.png"  class="Logo" width="100" height="100"/></a>
  </div>
  <div>
    <p> <a href="">About</a></p>
    <p> <a href="">Advertising</a></p>
  </div>
  <div>
    <p> <a href="">Privacy & Terms</a></p>
    <p> <a href="">Careers</a></p>
    <p> <a href="">Community Guidelines</a></p>
  </div>
  <div>
    <p> <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      <a href="">Questions</a></p>
    <p> <i class="fa fa-cog" aria-hidden="true"></i>
      <a href="">Manage your account and privacy</a></p>
  </div>
  <div class="social-media">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
  </div>
</footer>

</body>
</html>
