<%- include('../partials/header') %>
<!-- icons -->
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<!-- Personal Stylesheet -->
<link rel="stylesheet" href="/css/feed/style.css" />
<% if (user == null) { %>
<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="Logo3">
    <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200" width="200"
        title="source: imgur.com" /></a> </div>
  <div class="m">
    <div class="logConatiner">
      <h1 class="h">Please Log In </h1>
      <hr class="hr">
      <button class="button" type="submit"><a href="/auth/google"><i class="fa fa-sign-in" aria-hidden="true"></i>
          Log In with Google</a></button>
    </div>
  </div>
</div>
<% } else { %>

<div class="Logo2">
  <a href="https://imgur.com/Mc6BdV0"><img src="https://i.imgur.com/Mc6BdV0.png" height="200" width="200"
      title="source: imgur.com" /></a>
  <h1 class="feed">Latest Feed</h1>
</div>
<div class="box">
  <!-- Left Column -->

  <div class="left">
    <div class="news">
      <h2>Today's News</h2>
      <form action="/feed" name="addNews" method="POST">
        <% newsData.forEach(function(story) { %>
        <h4><%= story.title%></h4>
        <% if (story.text) { %>
        <h4><%-story.text%></h4>
        <% } else { %>
        <% } %>
        <h4><a href="<%=story.url%>"><%=newsData.url%></a></h4>
        <hr>
        <% }) %>
        <button type="submit">Check Out</button>
      </form>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <hr>
        <br>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <hr>
        <br>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <hr>
        <br>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <hr>
        <br>

      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
        <hr>
        <br>
      </div>
    </div>
  </div>

  <!-- Middle Column -->
  <div class="middle">
    <% hunters.forEach(function(hunter) { %>

    <!-- User Inputs -->

    <% hunter.comments.map(function(comment, idx) { %>
    <div class="hunters">
      <h4><%= hunter.name %></h4>
      <% if (hunter == "") { %>
      <img src="https://i.imgur.com/KB9fMRj.png" alt="Avatar" style="width:40px">
      <% } else { %>
      <img class="profilePic" src="<%=hunter.avatar%>" width="100" height="100" alt="That's You!">
      <% } %>
      <p>Post was created:<%=comment.createdAt %></p>
      <p>Post was Updated<%=comment.updatedAt%></p>
      <hr>
      <p><%= comment.text %></p>
      <% if (hunter._id.equals(user && user._id)) { %>
      <button type="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        <a href="/feed/<%= comment._id %>/edit"> Edit Comment</a></button>
      <button type="button"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>Like</button>
      <form action="/feed/<%= comment._id %>?_method=DELETE" class="delete-form" method="POST">
        <button type="submit">🗑Delete Post</button>
      </form>
      <% } %>
    </div>
    <% }) %>

    <!-- Add Dynamic UI form below this line -->
    <% if (hunter._id.equals(user && user._id)) { %>
    <div class="post container hunters">
      <form action="/feed" method="POST">
        <h3>Create A Post</h3>
        <input type="text" name="text" placeholder="Project Week Is Insane">
        <button type="submit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Create Post</button>
      </form>
    </div>
    <% } %>
    <% }) %>
  </div>
  <!-- Right Column -->
  <div class="right">
    <h2>Where to get started!</h2>
    <h3>Code Training</h3>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <hr>
      <br>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <hr>
      <br>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <hr>
      <br>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
      <hr>
      <br>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<% } %>

<%- include('../partials/footer') %>